body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  height: 100vh;
  display: flex;
  background-color: green;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;

  flex-grow: 1;
}

.send-button {
  background-color: #595959;
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message-robot {
  display: flex;
  align-items: start;

}

.chat-messages-container {
  flex-grow: 1; 
  margin-top: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

.chat-message-text {
  background-color: rgb(238,238,238);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 20px 10p;
  max-width: 300px;
}